body{
    background: blanchedalmond;
}

.container {
    max-width: 600px;
    margin: auto;
    border: 2px solid white;
    min-height: 100vh;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

.searchDiv{
    border: 1px solid red;
    display: inline-block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

searcResultsUl li {
    margin: 2em 0;
}

img {
    display:block;
    width: 150px;
    margin: 0.2em 0;
}