body{
    background: blanchedalmond;
}

.container {
    max-width: 600px;
    margin: auto;
    border: 2px solid white;
    min-height: 100vh;
    padding: 10px 0;
}

header {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

.searchDiv{
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

#requestHeading {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

#searchResultsUl li{
    margin: 10px 0;
}

ul img {
    width: 150px;
    margin: 0.2em 0;
}

ul li:hover, #searchButton{
    cursor: pointer;
}